body,p,span{
    font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
.g{
    color: #2FAA45;
    font-weight: 600;
}
.o{
    color: #F07C19 !important;
    font-weight: 500;
}
/* Header Logo Size  */
.gobuslogo img{
    height: 60px;
    /* height: 60px; */
    width: auto;
}
.animate__pulse {
  display: inline-block;
  margin: 0 0.5rem;

  animation: swing infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5.3s; /* don't forget to set a duration! */
}
.searchicon{
    animation: colorchange 20s infinite;
}
@keyframes colorchange {
    0% {
      color: #2FAA45;
    }
    25% {
      color: #F07C19;
    }
    50% {
      color: #2FAA45;
    }
    75% {
      color: #F07C19;
    }
    100% {
      color: #2FAA45;
    }
  }

/* begin css */

/* Menu */
ul.our-primary-menu {}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #2FAA45;
    /* color: #F07C19; */
    font-weight: 500;
}
ul.our-primary-menu li a:hover{
    color: #F07C19;
    transition: .3s;
}

.header-info{}
.header-search{
    font-size: 22px;
    text-align: center;
    width: 60px;
    border-right: 1px solid #F07C19;
}
.header-call{
    width: 180px;
}
.header-call-icon{
    font-size: 26px;
    color: #F07C19;
}
.header-call-icon:hover{
    color: #2FAA45;
    transition: .3s;
}
.header-call-info{
    color: #2FAA45;
    font-weight: 700;
}
.header-call-info a{
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}
/* _______________________________ */
.animate__tada {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: tada infinite; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.3s; /* don't forget to set a duration! */
  }

  /* -------------------------------------               bus Carosel slider                               --------------------------------------------- */
  /* -------------------------------------               bus Carosel slider                               --------------------------------------------- */

  
  /* -------------------------------------                 animation too                             --------------------------------------------- */
  /* -------------------------------------                  bus animation                           --------------------------------------------- */
.png-bus-right img{
    height: 50px;
  }
.png-bus-left img{
    height: 100px;
  }
  .bus-carosel img{
    /* height: 90vh; */
    /* height: 545px; */
  }

  /* -----------------------------------------                         ------------------------------------- */
  /* -----------------------------------------     ticket from - too      ------------------------------------- */
  /* -----------------------------------------                         ------------------------------------- */
  .ticket-start-end{
    background: rgb(223, 219, 219);
    height: 300px;
  }
  .select-ticket-plan img{
    height: 160px;
  }